<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidxs a MercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <header id="page-header">
        <div id="top-header">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </a>
            </div>
            <div class="search-form">
                <div class="search-box">
                    <input class="search-input" placeholder="Buscar productos, marcas y más">
                    <button class="search-btn"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav id="main-nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="#">Ofertas</a></li>
                <li class="nav-item"><a href="#">Tiendas Oficiales</a></li>
                <li class="nav-item"><a href="#">Vender</a></li>
                <li class="nav-item"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-list">
                <li class="nav-item"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li class="nav-item"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="nav-item"><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div id="burger-menu">
            <i class="fa fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/" method="POST">
            <div class = "flex-column">
                <input class="input" type="text" name="user" id="user" placeholder="Nombre de usuario">
                <input class="input" type="password" name="password" id="password" placeholder="Contraseña">
                <button type="submit" class = "input button">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class ="flex-conteiner-footer">
            <div class = "flex-item">
                <i class="fas fa-credit-card footer-icons"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p class ="footer-text">Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo
                    en puntos de pago.!Y siempre es seguro!
                </p>
            </div>
            <div class = "flex-item">
                <i class="fas fa-gifts footer-icons"></i>
                <h4>Envio gratis desde los $2.500</h4>
                <p class ="footer-text">Solo por estar registrado en Mercado Liebre
                    tenes envios gratis en miles de productos
                    Es un beneficio de Mercados Puntos.
                </p>
            </div>
            <div class = "flex-item">
                <i class="fas fa-user-shield footer-icons"></i>
                <h4>Seguridad de principio a fin</h4>
                <p class ="footer-text">No te gusta? !Devolvelo! En MercadoLiebre no hay
                    nada que no puedas hacer porque estas siempre protegid@
                </p>
            </div>
        </div>
        <p class ="footer-text">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>

</html>