

.input{
    align-self:center;
    width:70%;
    height:1.8rem;
    margin-top:1rem;
    margin-bottom:1rem;
    background-color: #fff;
    border: none;
    outline: none;
    color: #666;
    padding: 4px;
    font-size: 14px;
    border-radius: 5px;
}

.flex-column{
    display:flex;
    flex-direction: column;
}

.button{
    background-color: blue;
    color:white;
}
