:root {
    --primary: #eac926;
    --main-yellow: #eac926;
    --dark-blue: #03264c;
    --light-blue: #1259c3;
    --dark-grey: #666;
    --light-grey: #ebebeb;
    --green: #39b54a;
}

.search-box {
    position: relative;
    width: 100%;
}


.flex-conteiner-footer{
    display:flex;
    justify-content:space-between;
}

.flex-item{
    text-align:center;
    font-size:14px;
    margin:5% 5% 5% 5%;
}

.footer-text{

}

.footer-icons{
    color:#1259c3;
    margin-bottom:10px;
    font-size:2em;
}

.search-box .search-input,
.search-box .search-btn,
.input-box .input {
    background-color: #fff;
    border: none;
    outline: none;
    color: #666;
    padding: 4px;
    font-size: 14px;
    border-radius: 5px;
}

.search-box .search-btn {
    position: absolute;
    right: 0px;
}

.search-box .search-input {
    width: 100%;
    font-size: 15px;
}

.input-box .label {}

.input-box .input {
    display: block;
    width: 100%;
    font-size: 1.5em;
}

.error-box {
    background-color: red;
    padding: 50px;
}

#page-header {
    background-color: #eac926;
    padding: 16px;
}

#page-header .logo {
    width: 30%;
    padding-right:0%;
    margin-right:10px;
    
}

.logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

#top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin-top:5px;
}

#page-header #top-header .search-form {
    flex-grow: 1;
    max-width:30%;
    margin-right:10px;
}

#page-header #top-header p {
    width: 100%;
    text-align: center;
}

#burger-menu {
    text-align: center;
    margin-top:1rem;
}

#burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

#main-nav {
    font-size: 12px;
}

.nav-list {
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: #000;
}

.product-section {
    margin-bottom:3rem;
}

.product-section .product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 100%;
    margin: 10px;
}

.product-background {
    background-color: #fff;
}

.product .price {
    font-size: 18px;
}

.product .discount {
    font-size: 18px;
    margin-right:30%;
}

.product .product-background .main-article .description {
    font-size: 16px;
    font-weight: normal;
    color: #666;
    display:none;
}

.product:hover .product-background .main-article .description{
    display:initial;
}

.product img {
    width: 100%;
}

.truck-icon,
.discount {
    color: #39b54a;
}

.truck-icon {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.product .main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

.price-container {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .product .description {
        display: initial;
    }
    .product {
        width: 40%;
    }
    .product :hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    #burger-menu{
        display:none;
    }

    #main-nav{
        display:flex;
    }
    .nav-list{
        display:flex;
    }
    .texto-nav{
        margin-left:1rem;
    }
    
}

@media (max-width:767px){
    #main-nav{
        display:none;
    }
    .nav-list{
        display:none;
    }
    .texto-nav{
        padding:10px 0px 10px 0px;
    }
    #page-header .logo {
        width: 40%;
        padding-right:0%;
        margin-right:20px;
        
    }
    .flex-conteiner-footer{
        flex-wrap:wrap;
    }
}

@media (min-width: 1200px) {
    .product {
        width: 20%;
    }
    #page-header .logo {
        width: 30%;
        padding-right:0%;
        margin-right:10px;
    }
    .logo img {
        margin-right: 30px;
    }
    .texto-nav{
        margin-left:10rem;
    }
}

    #main-nav{
        justify-content:space-between;
        margin:40px 0px 5px 0px;
    }
    .nav-item{
        margin:0px 15px 0px 10px;
    }

 .product-list {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
    text-align:center;
    color: #666;

}

p {
    font-size: 12px;
}

.banner img {
    width: 100%;
}

main {
    margin: 0 auto;
    width: 90vw;
}

